[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
[submodule ".zprezto-contrib/belak"]
	path = .zprezto-contrib/belak
	url = https://github.com/belak/prezto-contrib.git
[submodule ".emacs.spacemacs"]
	path = .emacs.spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
[submodule ".emacs.doom"]
	path = .emacs.doom
	url = https://github.com/hlissner/doom-emacs.git
