*/*.elc
*/*.git
*/*.hg
.Trash
.cpan
.evolution
.gimp-2.6
.gradle
.keychain
.mozilla
.node-gyp
.npm
.openoffice.org
.vagrant.d
.vim/eclim
.zcompcache
.zcompdump*
.zhistory
/.ICEauthority
/.VirtualBox
/.Xauthority
/.Xsession
/.adobe
/.bash_history
/.bundle
/.bundler
/.cache
/.cocoapods
/.config
/.dropbox
/.dropbox-dist
/.emacs.d/auto-save-list
/.emacs.d/elpa
/.fontconfig
/.fonts
/.gconf
/.gem
/.hgext
/.icons
/.java
/.local
/.neocomplete
/.pulse
/.rbenv
/.rvm
/.ssh
/.thumbnails
/.vim/bundle
/.wallpapers
/.wine
/tmp
/Applications
/Code
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
