[user]
	name = Benjamin Kudria
	email = ben@kudria.net

[github]
	user = bkudria

[core]
	editor = mvim --remote-wait-silent
	pager = less

	whitespace = trailing-space,space-before-tab,cr-at-eol
	excludesfile = /Users/bkudria/.gitignore_global

[push]
	default = upstream

[clean]
	requireForce = false

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = false

[diff]
	mnemonicprefix = true
	algorithm      = minimal

[log]
	date = relative

[alias]
	discard = checkout HEAD --

	ls = ls-files

	top = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd
	ctags = !.git/hooks/ctags

[init]
	templatedir = ~/.git_template
[help]
	autocorrect = 1

[git-up "bundler"]
	check = true

[include]
	path = ~/.gitconfigs/palantir.gitconfig
