*/*.elc
*/*.git
*/*.hg
.evolution
.gimp-2.6
.keychain
.mozilla
.openoffice.org
/.ICEauthority
/.VirtualBox
/.Xauthority
/.Xsession
/.adobe
/.bash_history
/.bundle
/.cache
/.config
/.dropbox
/.dropbox-dist
/.emacs.d/auto-save-list
/.emacs.d/elpa
/.fontconfig
/.fonts
/.gconf
/.gem
/.hgext
/.icons
/.java
/.kde
/.local
/.macromedia
/.pulse
/.rvm
/.thumbnails
/.vim
/.wallpapers
/.wine
/Dropbox
work
