[user]
	name = Benjamin Kudria
	email = ben@kudria.net

[github]
	user = bkudria

[core]
	editor = emacsclient -q
	pager = less

	whitespace = trailing-space,space-before-tab,cr-at-eol
	excludesfile = /Users/bkudria/.gitignore_global

[push]
	default = upstream

[clean]
	requireForce = false

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = false

[diff]
	mnemonicprefix = true
	algorithm = histogram
	compactionHeuristic = true

[log]
	date = relative

[alias]
	discard = checkout HEAD --

	ls = ls-files

	top = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd

	pr = pull-request

	code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
	cc = "!git code-changes"

[help]
	autocorrect = 1

[git-up "bundler"]
	check = true

[include]
	path = ~/.gitconfigs/raiseme.gitconfig

[magit]
	hideCampaign = true

[magithub]
	online = false

[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[credential]
	helper = osxkeychain
