set bell-style none
set editing-mode emacs
set keymap emacs
set completion-ignore-case on
set match-hidden-files off
set show-all-if-ambiguous on
set visible-stats on

"\e[B": history-search-forward
"\e[A": history-search-backward

$if Bash
  #do history expansion when space entered
  Space: magic-space
$endif


$include /etc/inputrc