include /usr/share/nano/html.nanorc
include /usr/share/nano/java.nanorc
include /usr/share/nano/c.nanorc
include /usr/share/nano/nanorc.nanorc
include /usr/share/nano/patch.nanorc
include /usr/share/nano/perl.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/ruby.nanorc
include /usr/share/nano/sh.nanorc
include /usr/share/nano/tex.nanorc

set autoindent
set const
set smarthome
set smooth
set tabsize 4
set multibuffer
set whitespace >_
set nowrap
unset tabstospaces
unset mouse
