zmodule environment # Sets sane Zsh built-in environment options.

zmodule git -c "zstyle ':zim:git' aliases-prefix 'g'"
zmodule git # Provides handy git aliases and functions.

zmodule input # Applies correct bindkeys for input events.

zmodule termtitle -c "zstyle ':zim:termtitle' hooks 'preexec' 'precmd'"
zmodule termtitle -c "zstyle ':zim:termtitle:preexec' format '\${\${(A)=1}[1]}'"
zmodule termtitle -c "zstyle ':zim:termtitle:precmd' format '%1~'"
zmodule termtitle # Sets a custom terminal title.

zmodule utility # Utility aliases and functions. Adds colour to ls, grep and less.

zmodule duration-info -c "zstyle ':zim:duration-info' show-milliseconds yes"
zmodule duration-info # Exposes to prompts how long the last command took to execute.

zmodule git-info # Exposes git repository status information to prompts.

zmodule romkatv/powerlevel10k # p10k

zmodule run-help # Figures out where to get the best help, and gets it.

zmodule archive # Provides archive and unarchive functions for easy archive manipulation.

zmodule direnv # Sets up the direnv Zsh shell integration

zmodule exa # Adds aliases and better defaults for exa.

# zmodule fzf # Configures fzf for faster fetching of files and directories names.

# zmodule magic-enter # Shown when there is no command and user presses ENTER.

zmodule pvenv # Manages all python venvs in one place.

zmodule ruby # Provides ruby, bundler, rbenv and rvm aliases and initialization.

zmodule ssh # Provides a convenient way to load ssh-agent.

zmodule prompt-pwd # Formats the current working directory to be used by prompts.

zmodule homebrew # Adds aliases for Homebrew.

zmodule joke/zim-github-cli # Sets up github-cli in zsh.

zmodule joke/zim-yq # Sets up yq in zsh.

zmodule kiesman99/zim-zoxide # Sets up zoxide in zsh.

# Auto start a session when Zsh is launched in a local terminal.
zmodule sorin-ionescu/prezto -n tmux --root modules/tmux -c "zstyle ':prezto:module:tmux:auto-start' local 'yes'"

# # Auto start a session when Zsh is launched in a SSH connection.
zmodule sorin-ionescu/prezto -n tmux --root modules/tmux -c "zstyle ':prezto:module:tmux:auto-start' remote 'yes'"

# # Integrate with iTerm2.
zmodule sorin-ionescu/prezto -n tmux --root modules/tmux -c "zstyle ':prezto:module:tmux:iterm' integrate 'yes'"

# # Set session name
zmodule sorin-ionescu/prezto -n tmux --root modules/tmux -c "zstyle ':prezto:module:tmux:session' name 'main'"

zmodule sorin-ionescu/prezto -n tmux --root modules/tmux


zmodule belak/prezto-contrib --root alias-tips

zmodule fdellwing/zsh-bat

zmodule ${ZDOTDIR:-${HOME}}/.zim/modules/bkudria # Custom module


zmodule RobSis/zsh-completion-generator -c "zstyle :plugin:zsh-completion-generator programs rg fd llm"
zmodule RobSis/zsh-completion-generator

zmodule zsh-users/zsh-completions --fpath src # Additional completion definitions for Zsh.

zmodule completion # Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.

# Modules that must be initialized last
zmodule zsh-users/zsh-syntax-highlighting # Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion

zmodule marlonrichert/zsh-autocomplete -c "zstyle -e ':autocomplete:*:*' list-lines 'reply=( \$(( LINES / 4)) )'"
zmodule marlonrichert/zsh-autocomplete
zmodule marlonrichert/zsh-autocomplete -c "bindkey -M menuselect  '^[[D' .backward-char  '^[OD' .backward-char"
zmodule marlonrichert/zsh-autocomplete -c "bindkey -M menuselect  '^[[C' .forward-char  '^[OC'  .forward-char"
zmodule marlonrichert/zsh-autocomplete -c "bindkey              '^I' menu-complete"
zmodule marlonrichert/zsh-autocomplete -c 'bindkey "$terminfo[kcbt]" menu-complete'
zmodule marlonrichert/zsh-autocomplete -c "bindkey -M menuselect              '^I'         menu-complete"
zmodule marlonrichert/zsh-autocomplete -c 'bindkey -M menuselect "$terminfo[kcbt]" reverse-menu-complete'
# zmodule marlonrichert/zsh-autocomplete -c ""

zmodule zsh-users/zsh-autosuggestions # Fish-like autosuggestions for Zsh.
