<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>Prezto</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Prezto</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Prezto</string>
				</dict>
			</dict>
			<key>RSpec_Expectations</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>RSpec Expectations</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>RSpec_Expectations</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>SQLite</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SQLite</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SQLite</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2020-09-19T18:29:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2020-09-21T21:43:35Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>1.440000057220459</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>active_model_serializers</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>active_model_serializers</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>active_model_serializers</string>
				</dict>
			</dict>
			<key>arel</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:11Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>arel</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>arel</string>
				</dict>
			</dict>
			<key>aws-ses</key>
			<dict>
				<key>date</key>
				<date>2020-09-04T04:29:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>aws-ses</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>aws-ses</string>
				</dict>
			</dict>
			<key>factory_girl</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:06Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_girl</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_girl</string>
				</dict>
			</dict>
			<key>factory_girl_rails</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_girl_rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_girl_rails</string>
				</dict>
			</dict>
			<key>mongo</key>
			<dict>
				<key>date</key>
				<date>2020-07-31T04:29:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mongo</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>mongo</string>
				</dict>
			</dict>
			<key>mongoid</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:07:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mongoid</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>mongoid</string>
				</dict>
			</dict>
			<key>rspec</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec</string>
				</dict>
			</dict>
			<key>rspec-core</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-core</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-core</string>
				</dict>
			</dict>
			<key>rspec-expectations</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-expectations</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-expectations</string>
				</dict>
			</dict>
			<key>rspec-mocks</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-mocks</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-mocks</string>
				</dict>
			</dict>
			<key>rspec-rails</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-rails</string>
				</dict>
			</dict>
			<key>rspec_api_documentation</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:06:26Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec_api_documentation</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec_api_documentation</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>BackboneJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>backbone.js</string>
					</array>
					<key>name</key>
					<string>BackboneJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>BackboneJS_Online</string>
				</dict>
			</dict>
			<key>CoffeeScript_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CoffeeScript (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>CoffeeScript_Online</string>
				</dict>
			</dict>
			<key>Git_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Git (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Git_Online</string>
				</dict>
			</dict>
			<key>Lo-Dash_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>lodash</string>
					</array>
					<key>name</key>
					<string>Lo-Dash (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Lo-Dash_Online</string>
				</dict>
			</dict>
			<key>Mac_OS_X_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>leopard</string>
						<string>snow leopard</string>
						<string>lion</string>
						<string>mountain lion</string>
						<string>mavericks</string>
						<string>10.8</string>
						<string>10.6</string>
						<string>10.7</string>
						<string>10.9</string>
						<string>10.5</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa</string>
						<string>objective-c</string>
						<string>objc</string>
						<string>objective c</string>
						<string>macosx</string>
						<string>mac osx</string>
					</array>
					<key>name</key>
					<string>Mac OS X (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Mac_OS_X_Online</string>
				</dict>
			</dict>
			<key>Ruby_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Ruby (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_Online</string>
				</dict>
			</dict>
			<key>Vim_Online</key>
			<dict>
				<key>date</key>
				<date>2020-09-16T18:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Vim_Online</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Elm</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Elm#readme</string>
					<key>authorLinkText</key>
					<string>Peter Damoc</string>
					<key>name</key>
					<string>Elm</string>
					<key>platform</key>
					<string>usercontribElm</string>
					<key>uniqueIdentifier</key>
					<string>Elm</string>
				</dict>
			</dict>
			<key>Hammerspoon</key>
			<dict>
				<key>date</key>
				<date>2020-09-21T21:43:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Hammerspoon#readme</string>
					<key>authorLinkText</key>
					<string>Hammerspoon Team</string>
					<key>name</key>
					<string>Hammerspoon</string>
					<key>platform</key>
					<string>usercontribHammerspoon</string>
					<key>uniqueIdentifier</key>
					<string>Hammerspoon</string>
				</dict>
			</dict>
			<key>Redux</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Redux</string>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>iOS</string>
						<string>Android</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Redux#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Redux</string>
					<key>platform</key>
					<string>usercontribRedux</string>
					<key>uniqueIdentifier</key>
					<string>Redux</string>
				</dict>
			</dict>
			<key>Terraform</key>
			<dict>
				<key>date</key>
				<date>2020-09-14T18:29:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform#readme</string>
					<key>authorLinkText</key>
					<string>rolandjohann</string>
					<key>name</key>
					<string>Terraform</string>
					<key>platform</key>
					<string>usercontribTerraform</string>
					<key>uniqueIdentifier</key>
					<string>Terraform</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1.6999993324279785</real>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/PostgreSQL CLI/PostgreSQL_CLI.docset</key>
			<string>psql:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_2/Python 2.docset</key>
			<string>py2:</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>py3:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Hammerspoon/Hammerspoon.docset</key>
			<string>hs:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Terraform/Terraform.docset</key>
			<string>tf:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Terraform - DHUserRepo/0-11-13/Terraform.docset</key>
			<string>tf:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/BackboneJS.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CoffeeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:03:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Emacs_Lisp.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE7.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua_5.3.xml</key>
			<dict>
				<key>date</key>
				<date>2017-05-26T17:32:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MarionetteJS.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Processing.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2017-04-26T00:23:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:05:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2020-07-10T21:04:20Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-07T05:17:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE6.xml</key>
			<dict>
				<key>date</key>
				<date>2017-07-31T08:00:14Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>menuIconBehavior</key>
	<integer>0</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_2/Ruby.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_5/Ruby on Rails.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/mongoid/mongoid.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Redux/Redux.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Terraform/Terraform.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Terraform - DHUserRepo/0-11-13/Terraform.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Docker/Docker.docset</string>
			</array>
			<key>name</key>
			<string>Ruby/Rails/Gems</string>
			<key>placeholder</key>
			<string>r</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"r:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>r:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Ruby DocSets/mongoid/mongoid.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Redux/Redux.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Terraform/Terraform.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Docker/Docker.docset</string>
			</array>
			<key>name</key>
			<string></string>
			<key>placeholder</key>
			<string>mongoid</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"mongoid:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>mongoid:</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>6912</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>activesupport</key>
			<dict>
				<key>5.0.1</key>
				<dict>
					<key>date</key>
					<date>2020-07-10T21:06:30Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>activesupport</string>
						<key>platform</key>
						<string>rubyGems</string>
						<key>uniqueIdentifier</key>
						<string>activesupport</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Terraform</key>
			<dict>
				<key>0.11.13</key>
				<dict>
					<key>date</key>
					<date>2020-07-10T21:04:14Z</date>
					<key>entry</key>
					<dict>
						<key>aliases</key>
						<array/>
						<key>authorLinkHref</key>
						<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform#readme</string>
						<key>authorLinkText</key>
						<string>rolandjohann</string>
						<key>name</key>
						<string>Terraform</string>
						<key>platform</key>
						<string>usercontribTerraform</string>
						<key>uniqueIdentifier</key>
						<string>Terraform</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Django.xml</key>
			<dict>
				<key>1.8.6</key>
				<dict>
					<key>date</key>
					<date>2020-07-10T21:03:57Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Flask.xml</key>
			<dict>
				<key>0.10.1</key>
				<dict>
					<key>date</key>
					<date>2020-07-10T21:03:54Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>15.6.1</key>
				<dict>
					<key>date</key>
					<date>2020-07-10T21:04:14Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
