{:main [

  {:des "capslock => control mod, or escape"
   :rules [[:##caps_lock :left_control nil {:alone :escape}]]}

  {:des "simultaneous f + j => escape"
   :rules [[[:f :j] :escape]]}

  {:des "easy pairs"
   :rules [[:left_shift :left_shift nil {:alone :!S9}]
           [:right_shift :right_shift nil {:alone :!S0}]
           [:left_option :left_option nil {:alone :!Sopen_bracket}]
           [:right_option :right_shift nil {:alone :!Sclose_bracket}]
           [:left_command :left_command nil {:alone :!Scomma}]
           [:right_command :right_command nil {:alone :!Speriod}]
           ]}

  {:des "spacebar hyper-mods"
   :rules [[:spacebar :!COTleft_shift nil {:alone [:spacebar]}]]}

  {:des   "swap ; :"
   :rules [[:semicolon :!Ssemicolon]
            [:!Ssemicolon :semicolon]]}
  ]}

